@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('.//assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 2245px;
    background-position: top;
    justify-content: center;
    align-items: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}